<div class="d-flex mt-5 mb-3 mx-3 justify-content-between">
	<h2 >Addresses </h2>
	<div class="d-none d-lg-block">
		<button type="button" class="btn btn-secondary mr-2" (click)="openModal()">Add address</button>
		<button type="button" class="btn btn-secondary mr-2" [disabled]="disabledUpdate">Update all</button>
		<button class="btn btn-danger">Delete all</button>
	</div>

	<div class="btn-group d-lg-none" dropdown>
	  <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
	    Actions <span class="caret"></span>
	  </button>

	  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
	    <li role="menuitem"><button type="button" class="dropdown-item" (click)="openModal()">Add address</button></li>
		<li role="menuitem"><button type="button" class="dropdown-item" [disabled]="disabledUpdate">Update all</button></li>
		<li role="menuitem"><button class="dropdown-item">Delete all</button></li>
	  </ul>
	</div>
</div>

<div class="table-responsive container-fluid mt-5 mt-md-0">
	<table class="table">
		<thead>
			<tr>
				<th>Enterprise</th>
				<th class="">Street name</th>
				<th>Street number</th>
				<th>Zip Code</th>
				<th>City</th>
				<th>Country</th>
				<th>Formatted address</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let address of addresses">
				<td><input type="text" [(ngModel)]="address.enterprise" class="form-control" (keyup)="onUpdate()"></td>
				<td>{{address.streetName}}</td>
				<td>{{address.streetNumber}}</td>
				<td>{{address.zipCode}}</td>
				<td>{{address.city}}</td>
				<td>{{address.country}}</td>
				<td>{{address.formattedAddress}}</td>
				<td><button class="btn btn-outline-danger">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>
